<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="container">
        <form action="/movies/search" method="post">
            <div class="form-group">
                <h1>영화 위시리스트 검색</h1>
                <h3><a href="/">홈 화면</a> </h3>
                <p><label for="name">제목</label>
                    <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
                </p>
                <p><label for="price">감독</label>
                    <input type="text" id="director" name="director" placeholder="감독을 입력하세요">
                </p>
            </div>
            <button type="submit">검색</button>
            <button type="reset">취소</button>
        </form>
    </div> <!-- /container -->
</body>

</html>