<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="container">
        <div>
            <h1>영화 위시리스트</h1>
            <p>
                <button onclick="location.href='/movies'">영화목록</button>
            </p>
            <p>
                <button onclick="location.href='/api/search'">영화추가</button>
            </p>
            <p>
                <button onclick="location.href='/movies/search'">영화검색</button>
            </p>
        </div>
    </div>
</body>

</html>